spring:
  application:
    name: course-management

  datasource:
    url: jdbc:postgresql://localhost:5432/course_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true
    show-sql: false

  server:
    port: 8080

logging:
  level:
    root: INFO
    com.course: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
