.login-page {
    background: #445a6d;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-circles {
    position: absolute;
    left: -25vw;
    top: -20vh;
    width: 120vw;
    height: auto;
    pointer-events: none;
}

.bg-right {
    position: absolute;
    right: 0;
    top: -10vh;
    height: 110vh;
    width: auto;
    pointer-events: none;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.15);
    transform-origin: center;
}

.logo {
    width: 456px;
    height: 275px;
    margin-bottom: 24px;
}

.login-form {
    width: 340px;
    text-align: center;
}

.input-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.input-icon {
    position: absolute;
    left: 22px;
    top: 16px;
    width: 24px;
    height: 24px;
    pointer-events: none;
}

.login-input {
    width: 100%;
    height: 52px;
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0 18px 0 58px;
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
}

.login-select {
    width: 100%;
    height: 52px;
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0 18px 0 58px;
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    appearance: none;
}

.login-select:focus {
    outline: none;
    border-color: #00d4d4;
}

.login-select option {
    color: #283541;
}

.login-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.login-input:focus {
    outline: none;
    border-color: #00d4d4;
}

.login-btn {
    width: 100%;
    height: 52px;
    background: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #283541;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 23px;
}

.login-btn:hover {
    background: #00d4d4;
    color: white;
}
